@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!DOCTYPE html>
<html>
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>

    body {
      z-index: 100;
        background-color: white;
        /* background-image: url('https://ryde.azurewebsites.net/images/Paradigm_Logo.png');
        background-repeat: no-repeat;
        background-attachment: fixed; */
        background-position: 45%;
        background-size: 500px;
        background-blend-mode: overlay;
        color: black;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    button {
        background-color: white;
        color:black;
        margin: 0.5% 0% 0.5% 0.25%;
        padding: 0.25% 0.5%;
        border-radius: 10%;
    }
    p {
      text-align: center;
      word-wrap: break-word;
      text-shadow: 1px 1px 1px #003B6D;
    }
    section {
      margin: 3% 0% 2% 0%;      
  display: -webkit-flex;
  display: flex;
  text-shadow: 2px 2px 5px #003B6D;
}
    article {
      text-shadow: 2px 2px 5px #003B6D;
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  
  padding: 10px;
}
h1, h2, h5 {
  text-shadow: 2px 2px 5px #003B6D;
}
table {
  margin: 0% 0% 0% 33%;
  background-color: #003B6D;
}
tr, td {
  background-color: #003B6D;
  color: #BDBDBD;
  border-color: #676767;
  text-align: center;
}
a {
  color:#676767;
}
.nav-link {
    color: black;
    /* #6699CC */
  }

  .btn-search {
    background-color: #003B6D;
    color:#676767;
    border: 2px solid #6699CC;
  }
  .btn-link {
    /* background-color: #6699CC; */
    background-image: linear-gradient(red, yellow);
    color:#676767;
    border: 2px solid #6699CC;
  }
  .nav-link:hover {
    color: #676767;
  }
  .mb-3 {
    /* background-image: url('https://pixabay.com/get/gfd2cafce8bdb088020e13dc507782d324d250c5531261da57c84f9aad1ce2e8d45e4b3adc7c6f0ed44b6d14046ff7e40b20764e5c9b613ad62e597bedee3f30e_1280.jpg'); */
    background-image: linear-gradient(red, yellow);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        
  }

    </style>
</head>
</head>
<body>
 
  <nav class="nav nav-pills flex-column flex-sm-row" >
    <a class="flex-sm-fill text-sm-center nav-link active" style="background-color:orange; color:black;" aria-current="page" asp-area="" asp-page="/Index">Home</a>
    <a class="flex-sm-fill text-sm-center nav-link" asp-area="" asp-page="/Dining">Restaurants and Grocery</a>
    <a class="flex-sm-fill text-sm-center nav-link" asp-area="" asp-page="/Lodging">Lodging</a>
    <a class="flex-sm-fill text-sm-center nav-link " asp-area="" asp-page="/Entertainment">Entertainment and SightSeeing</a>
    <a class="flex-sm-fill text-sm-center nav-link " asp-area="" asp-page="/Transportation">Transportation</a>
    <a class="flex-sm-fill text-sm-center nav-link " asp-area="" asp-page="/FAQ">FAQ</a>
    <form class="d-flex" role="search">
      <input class="form-control me-2" style="background-color:whitesmoke" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-search" type="submit">Search</button>
    </form>
  </nav>
  <br>
  <div>
<div style="text-align: center; opacity: 50%;font-size: xx-large;">Prototype</div>
 
 

  <p style="font-size: 50px;">Taniti Island</p>
  <br>
  <p style="font-size: 20px; margin:1% 8% 1% 8%; text-align: center;">
    Welcome to Taniti! Our island is a perfect vacation or getaway. We have lots of adventure on our 500 square mile island. We are located in the pacific ocean and have a variety of beaches to explore from rocky to sandy, a harbor, mountains on the island interior, a tropical rainforest, and an active volcano. 
    Our indigenous population is around 20,000 with an economy centered around fishing and agriculture.
  </p>
  
  <!-- Dining Start -->
  <div class="card mb-3" style="background-color:#003B6D; border: 2px solid #676767; text-align: center;">
    <div class="row g-0">
      <div class="col-md-4">
        <a href="Dining.html"><img src="~/images/Dining.jpg" class="img-fluid rounded-start" style="border-radius: 7px; width: 800px; height: auto;" alt="Island Restaurant"></a>
         Image by <a href="https://pixabay.com/users/michelle_raponi-165491/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=906113">Michelle Raponi</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=906113">Pixabay</a>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="display-1">Restaurant and Grocery Page</h5>
          <br><br><br>
          <p class="display-5">This page will show our restaurants and our grocery shopping options </p>
          <br><br><br>
          <p class="card-text"><small class="btn btn-link"><a asp-area="" asp-page="/Dining" style="color: black;">Restaurants and Grocery Page.</a></small></p>

        </div>
      </div>
    </div>
  </div>
<!-- Dining End -->


  <!-- Lodging Start -->
  <div class="card mb-3" style="background-color:#003B6D; border: 2px solid #676767; text-align: center;">
    <div class="row g-0">
      <div class="col-md-4">
        <a href="Lodging.html"><img src="~/images/Lodging.jpg" class="img-fluid rounded-start" style="border-radius: 7px;  width: 800px; height: auto" alt="Lodging"></a>
      Image by <a href="https://pixabay.com/users/elg21-3764790/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=6570645">Enrique</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=6570645">Pixabay</a>
    </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="display-1">Lodging Page</h5>
          <br><br><br>
          <p class="display-5">This page will show our lodging options on the island. </p>
          <br><br><br>
          <p class="card-text"><small class="btn btn-link"><a asp-area="" asp-page="/Lodging" style="color: black;">Lodging Page.</a></small></p>
        </div>
      </div>
    </div>
  </div>
<!-- Lodging End -->

<!-- Entertainment Start -->
<div class="card mb-3" style="background-color:#003B6D; border: 2px solid #676767; text-align: center;">
  <div class="row g-0">
    <div class="col-md-4">
      <a href="Entertainment.html"><img src="~/images/Entertainment.jpg" class="img-fluid rounded-start" style="border-radius: 7px;  width: 800px; height: auto" alt="Entertainment"></a>
    Image by <a href="https://pixabay.com/users/marcelkessler-3217273/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=5576002">Marcel</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=5576002">Pixabay</a>
  </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="display-1">Entertainment Page</h5>
        <br><br><br>
        <p class="display-5">This page contains information on the many activities used for entertainment while visiting Taniti.</p>
        <br><br><br>
        <p class="card-text"><small class="btn btn-link"><a asp-area="" asp-page="/Entertainment" style="color: black;">Entertainment Page.</a></small></p>
      </div>
    </div>
  </div>
</div>
<!-- Entertainment End -->

<!-- Transportation Start -->
<div class="card mb-3" style="background-color:#003B6D; border: 2px solid #676767; text-align: center;">
  <div class="row g-0">
    <div class="col-md-4">
      <a href="Transportation.html"><img src="~/images/Taxi.jpg" class="img-fluid rounded-start" style="border-radius: 7px;  width: 800px; height: auto" alt="Transportation"></a>
   Image by <a href="https://pixabay.com/users/rasor-29721622/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=7433597">Rasor</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=7433597">Pixabay</a>
  </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="display-1">Transportation Page</h5>
        <br><br><br>
        <p class="display-5">This page contains information on the ways of transportation available to travel across the island.</p>
        <br><br><br>
        <p class="card-text"><small class="btn btn-link"><a asp-area="" asp-page="/Transportation" style="color: black;">Transportation Page.</a></small></p>
      </div>
    </div>
  </div>
</div>
<!-- Transportation End -->

  
 
 
</p>
</div>
</body>

<footer class="footer mt-auto py-3" style="background-image: linear-gradient(red, yellow); text-align:center">
  <a href="Home.html" style="padding: 1%; color:Black">Home</a>
  <a href="FAQ.html" style="text-align: center; color: black;">FAQ</a>
  
</footer>
</html>

